form#main-user-form{
  width: 50%;
  margin: auto;
}

input#cameraButton{
  background: url('../images/camera.png');
  width: 40%;
  padding: 2%;
  height: 120px;
}

div#product{
  float: left;
}

input#productDescription{
  width: 40%;
  height: 120px;
}

.clear{
  clear: both;
}